.react-calendar-theme {
  border: none;
  font-family: inherit;
  width: 100%;
}

.react-calendar-theme,
.react-calendar-theme .react-calendar__navigation {
  background-color: #27272a; /* zinc-800 */
}

.react-calendar-theme .react-calendar__navigation button {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
}
.react-calendar-theme .react-calendar__navigation button:hover,
.react-calendar-theme .react-calendar__navigation button:focus {
  background-color: #3f3f46; /* zinc-700 */
}

.react-calendar-theme .react-calendar__month-view-weekdays__weekday abbr {
  text-decoration: none;
  font-weight: 600;
  color: #a1a1aa; /* zinc-400 */
}

.react-calendar-theme .react-calendar__tile {
  color: #e4e4e7; /* zinc-200 */
  background-color: transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  min-height: 120px;
  position: relative;
}

.react-calendar-theme .react-calendar__tile:hover .add-workout-button {
  opacity: 1;
}

.add-workout-button {
  opacity: 0;
  transition: opacity 200ms ease-in-out; /* Dodaj płynne przejście */
}

.react-calendar__tile abbr {
  font-size: 1.25rem;
  font-weight: 600;
}

.react-calendar-theme .react-calendar__tile:enabled:hover,
.react-calendar-theme .react-calendar__tile:enabled:focus {
  background-color: #3f3f46; /* zinc-700 */
}

.react-calendar-theme .react-calendar__tile--active {
  background-color: #16a34a; /* green-600 */
  color: white;
}
.react-calendar-theme .react-calendar__tile--active:enabled:hover,
.react-calendar-theme .react-calendar__tile--active:enabled:focus {
  background-color: #15803d; /* green-700 */
}

.react-calendar-theme .react-calendar__tile--now {
  background-color: rgba(22, 163, 74, 0.2);
  color: #6ee7b7; /* emerald-300 */
}
.react-calendar-theme .react-calendar__tile--now:enabled:hover,
.react-calendar-theme .react-calendar__tile--now:enabled:focus {
  background-color: rgba(22, 163, 74, 0.4);
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #52525b; /* zinc-600 */
}

.calendar-container-small .react-calendar {
  font-size: 0.8rem;
}

.calendar-container-small .react-calendar__tile {
  padding: 0.3rem 0.2rem;
  height: auto;
}

.react-calendar-theme .active-day-tile {
  background-color: rgba(22, 163, 74, 0.2);
  color: #6ee7b7;
  border-radius: 0.5rem;
}

.react-calendar-theme .react-calendar__tile--now.active-day-tile {
  background-color: rgba(22, 163, 74, 0.4);
}

.calendar-container-small .react-calendar__tile--now {
  background-color: #3f3f46;
  color: #6ee7b7; /* Kolor tekstu dla "Dziś" */
}
