# Sekrety i pliki lokalne (KRYTYCZNE)
.env
.env.*
!.env.example
appsettings.Development.json

# Logi
*.log
npm-debug.log*

# Zależności (Frontend)
node_modules

# Pliki Builda (Frontend)
dist
dist-ssr

# Pliki systemowe i IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Zależności i buildy (Backend .NET)
/bin/
/obj/

# Pliki User Secrets (Backend .NET)
secrets.json

# Pliki tymczasowe Vite
.vite/